* {
    box-sizing: border-box;
    /* font */
    font-family: "Averta CY", sans-serif;
}

body {
    margin: 0;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

#header {
    width: 100%;
    background-color: white;
    height: 40vh;
    font-size: 30px;
}

#header h1 {
    color: teal;
}

.column-1 {
    width: 100%;
    float: left;
}

#section-1 {
    background-color: #f5eef5;
    text-align: left;
}

.column-2 {
    width: 50%;
    float: left;
    font-size: 30px;
}

.column-2 img {
    width: 75%;
    border-radius: 10px;
    margin: 100px;
}

.column-2 h1 {
    color: slategray;
}

#section-2 {
    background-color: #faf5f3;
}

#section-3 {
    background-color: #f2f9f8;
}

#section-4 {
    background-color: black;
    color: white;
}

.column-4 {
    width: 25%;
    float: left;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.relleno-lateral {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.relleno-columnas {
    padding-right: 20px;
}

@media screen and (max-width:700px) {
    /* Responsive layout */
    /* la clase two-column ha de tener ancho de 100% */
    .column-2 {
        width: 100%;
    }
    /* la clase four-column ha de tener ancho de 50% */
    .column-4 {
        width: 50%;
    }
    /* la clase h1 ha de tener tamaño de fuente de 6vw */
    h1 {
        font-size: 6vw;
    }
    /* la clase h2 ha de tener tamaño de fuente de 5vw */
    h2 {
        font-size: 5vw;
    }
    /* la clase h3 ha de tener tamaño de fuente de 4vw */
    h3 {
        font-size: 4vw;
    }
    /* ...otros ajustes... */
}